@charset "utf-8";

* {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

body {
  height: auto !important;
}

.column {
  float: left;
}

.separator {
  clear: left;
}

[class^="box"] {
  margin: 8px 8px 0;
}

.box-friend,
.box-enemy {
  width: 344px;
}

.item-hidden {
  display: none;
}

th, td {
  font-weight: normal;
  padding: 1px 0 !important;
  text-align: left;
  vertical-align: top;
}

th {
  white-space: nowrap;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 2px 0 0;
}

input[type="number"] {
  text-align: right;
  width: 56px;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.title {
  font-size: 17.25px;
}

.box-situation label {
  float: left;
  margin: 0 4px 0 0;
}

.heading {
  font-weight: bold;
}

#friendPhysYAtack {
  width: 263px;
}

#friendMagicYAtack {
  width: 263px;
}
