/* @charset "utf-8"; */
.header{
  margin: 10px 0px !important;
  text-align: center !important;
}
.column{
  margin: 5px 0px !important;
}

/* .box-friend,
.box-enemy {
  width: 344px;
} */

.item-hidden {
  display: none;
}

/* input[type="radio"],
input[type="checkbox"] {
  margin: 0 2px 0 0;
}  */

input[type="number"] {
  text-align: right;
  width: 56px;
  -moz-appearance: textfield;
}

/* inputのスピンボタンを削除する */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.box-result{
  text-align: left;
}

.heading {
  font-weight: bold;
}

.resultPhysYHeading {
  min-width: 121px;
}

.resultPhysHHeading,
.resultMagicYHeading {
  min-width: 153px;
}

.resultMagicHHeading {
  min-width: 89px;
}

#friendMagicYAtack {
  width: 255px;
}
