/* @charset "utf-8"; */
*{
  font-weight: bold;
}
.header{
  margin: 10px 0px !important;
  text-align: center !important;
}
.column{
  margin: 5px 0px !important;
}


.item-hidden {
  display: none;
}

input[type="number"] {
  text-align: right;
  width: 56px;
  -moz-appearance: textfield;
}

/* inputのスピンボタンを削除する */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.box-result{
  text-align: left;
}

.heading {
  font-weight: bold;
  border-bottom: solid 3px #87CEFA !important;
}

.resultPhysYHeading {
  min-width: 121px;
}

.resultPhysHHeading,
.resultMagicYHeading {
  min-width: 153px;
}

.resultMagicHHeading {
  min-width: 89px;
}

#friendMagicYAtack {
  width: 255px;
}
